.name1{
    background-color:blue
        
}
 .name2{
background-color:rgb(174, 13, 13) ;
    
}
.name3{
    background-color:aqua;
        
 }
.name4{
        background-color:blueviolet;
            
 }
        
   